.ourVision_container h3{

    color:  rgb(66, 89, 124);

}

.ourMission_container h3{

    color:  rgb(66, 89, 124);

}

.dawnguard_container b{

    color:  rgb(66, 89, 124);

}

.dawnguard_content p{

    color:  rgb(66, 89, 124);

}

.ourVision_container img{

    border-radius: 20px;
    box-shadow: -5px 5px 5px rgb(187, 187, 187);

}

.ourMission_container img{

    border-radius: 20px;
    box-shadow: -5px 5px 5px rgb(187, 187, 187);

}

.personnel_contents h4{

    border-left-style: solid;
    border-width: 5px;
    border-color:  rgb(66, 89, 124);
    color:  rgb(66, 89, 124);

}

.personnel_Card1{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);

}

.personnel_Card2{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}

.personnel_Card3{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}

.personnel_Card4{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}

.personnel_Card5{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}

.personnel_Card6{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}

.personnel_Card7{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}

.personnel_Card8{

    box-shadow: -5px 5px 5px rgb(187, 187, 187);
    
}