body{

    background-image: url("./images/login/gallery_pic4.jpg");
    width: auto;    

}

.logo_container img{

    width: 30rem;

}

.form_container{

    background-color: rgb(66, 89, 124);
    width: 300px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px rgb(187, 187, 187);

}

.form_body{

    padding: 20px;

}


.copyright_text{

    color:  rgb(66, 89, 124);

}